:root {
    --blue1:#142657;
    --blue2: #1D1F2C;
    --blue3: #3289FF;
    --blue4: #EEF7FF;
    --black1: #070707;
    --black2: #4A4C56;
    --black3: #161721;
    --gray: #D2D2D5;
    --gray2: #FAFAFF;
    --white: #fff;
}  
body {
    font-family: "Lato", serif;
    color: var(--black2);
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #DBEEFF, #FFF5E1);
    overflow-x: hidden;
}
a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
.text-blue-primary {
    color: var(--blue1);
}
.text-blue-secondary {
    color: var(--blue2);
}
.fs-18 {
    font-size: 1.125rem;
}
.fs-20 {
    font-size: 1.25rem;
}
.pt-50 {
    padding-top: 50px;
}
.pt-80 {
    padding-top: 80px;
}
.pb-80 {
    padding-bottom: 80px;
}
.pb-100 {
    padding-bottom: 100px;
}
.theme-btn {
    border: 1px solid var(--blue3);
    color: var(--blue3);
    padding: 6px 6px 6px 16px;
    border-radius: 30px;
    font-weight: 600;
    display: inline-block;
    text-align: center;
}
.theme-btn span {
    background-color: var(--blue3);
    color: var(--white);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    font-size: 13px;
    margin-left: 16px;
    display: inline-block;
}
.theme-btn:hover {
    background-color: var(--blue3);
    color: var(--white);
}
.theme-btn:hover span {
    background-color: var(--white);
    color: var(--blue3);
}
.theme-btn span i {
    transform: rotate(-22deg);
}
.btn-more {
    background-color: var(--white);
    color: var(--blue3);
    height: 27px;
    width: 27px;
    border-radius: 50%;
    text-align: center;
    line-height: 27px;
    font-size: 13px;
    display: inline-block;
}
.btn-more i {
    transform: rotate(-22deg);
}
.btn-more:hover {
    background-color: var(--black1);
    color: var(--white);
}
.btn {
    border-radius: 28px;
    padding: 8px 16px;
    border: none;
}
.btn.btn-light {
    background-color: var(--blue4);
    font-size: 1.125rem;
    color: var(--blue2);
}
.btn.btn-light:hover {
    background-color: var(--blue3);
}
.btn.btn-light:hover {
    color: var(--white);
}
.btn.btn-light:hover svg path{
    fill: var(--white);
}
.btn svg path {
    transition: all 0.3s;
}
.section-heading {
    max-width: 65%;
}
.section-title {
    font-size: 3rem;
}
header {
    padding: 24px 0;
    box-shadow: 0 4px 34px rgba(151, 151, 151, 0.1);
}
header nav ul li a {
    color: var(--black1);
    padding: 3px 0;
    position: relative;
}
header nav ul {
    gap: 32px;
}
header nav ul li a:after {
    content: "";
    height: 1px;
    width: 0;
    transition: all 0.3s ease-in-out;
    background-color: var(--blue3);
    position: absolute;
    bottom: 0;
    left: 0;
}
header nav ul li a:hover {
    color: var(--blue3);
    font-weight: 500;
}
header nav ul li a:hover::after {
    width: 100%;
}
.hero-bg {
    background-image: url('../images/hero-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: contain;
}
.hero-text span{
    background-color: var(--white);
    border-radius: 30px;
    padding: 8px 12px;
    font-weight: 600;
    color: var(--black1);
}
.hero-text h2 {
    font-size: 3.5rem;
}
.loan-boxes {
    gap: 20px;
}
.loan-box {
    width: calc(100% / 5 - 20px);
    background-color: var(--white);
    box-shadow: 0 6px 10px rgba(96, 163, 255, 0.08);
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    position: relative;
    z-index: 1;
    transition: all 0.4s ease-in-out;
    min-height: 128px;
}
.loan-box h4 {
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}
.loan-box::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    background-image: linear-gradient(#1948C2, #3988FF);
    border-radius: 8px;
    z-index: -1;
    transition: all 0.4s ease-in-out;
}
.loan-box:hover::before {
    opacity: 1;
    visibility: visible;
}
.loan-box .btn-more {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 74%;
    transition: all 0.5s ease-in-out;
}
.loan-box img {
    transition: all 0.3s ease-in-out;
    max-width: 55px;
}
.loan-box:hover img {
    opacity: 0;
    visibility: hidden;
    margin-top: 15px;
}
.loan-box:hover .btn-more {
    opacity: 1;
    visibility: visible;
    top: 54%;
}
.loan-box:hover h4 {
    color: var(--white);
    top: 17%;
}
.loan-calculator {
    background-color: var(--white);
    border: 1.5px solid #ECEFF3;
    box-shadow: 0 6px 10px rgba(96, 163, 255, 0.08);
    border-radius: 16px;
}
.form-field label {
    font-size: 1.125rem;
    color: var(--blue2);
}
.form-control {
    height: 56px;
    border-radius: 28px;
    border: 0.5px solid var(--gray);
    font-size: 18px;
    color: var(--blue2);
    padding: 10px 16px;
}
.form-control::placeholder,
.form-control:-moz-placeholder {
    color: var(--blue2);
}
.form-control:focus {
    box-shadow: none;
    outline: none;
}
select {
    background-image: url('../images/angle-down-icon.svg');
    background-repeat: no-repeat;
    background-size: 16px 9px;
    background-position: 95% 54%;
}
.calculate-result {
    border-radius: 8px;
    background-color: #FBFBFB;
    border: 0.5px solid #1948C2;
}
.loan-recommend .quote {
    background-color: var(--blue4);
    border-left: 2px solid var(--blue3);
    padding: 10px 16px;
    max-width: 70%;
}
.loan-recommend ul li {
    margin-bottom: 10px;
    width: calc(100% / 2);
}
.lender-table table {
    box-shadow: 0 6px 10px rgba(96, 163, 255, 0.08);
}
.lender-table thead tr th:first-child {
    border-top-left-radius: 16px;
}
.lender-table thead tr th:last-child {
    border-top-right-radius: 16px;
}
.lender-table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 16px;
}
.lender-table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 16px;
}
.lender-table thead tr th{
    padding: 24px;
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--blue2);
    background-color: #EBEBFF;
}
.lender-table tbody tr td {
    padding: 24px;
    color: var(--blue2);
}
.lender-table tbody tr:nth-child(2n) td {
    background-color: var(--gray2);
}
.lender-table tbody tr:nth-child(2n + 1) td {
    background-color: var(--white);
}
.lender-table .rating img {
    max-width: 80px;
}
.lender-table .reason {
    font-weight: 500;
}
.lender-table .company-logo img {
    max-width: 110px;
}
.lender-table .company-logo i {
    color: #E2382F;
    font-size: 24px;
}
.faq-tabs {
    gap: 60px;
}
.faq-tabs > ul {
    width: 27%;
    gap: 16px;
}
.faq-tabs > ul li button {
    text-align: center;
}
.faq-tabs > ul li button.active,
.faq-tabs > ul li button:hover {
    background-color: var(--blue3);
    color: var(--white);
    border-color: var(--blue3);
}
.faq-tabs .nav-link {
    border: 0.5px solid var(--gray);
    color: var(--blue2);
    padding: 11px 16px;
    border-radius: 28px;
    font-size: 1.125rem;
    background-color: var(--white);
    width: 100%;
}
.faq-tabs .tab-content {
    width: 73%;
}
.faq-tabs .accordion-button {
    font-size: 1.25rem;
    color: var(--blue2);
    font-weight: 500;
    border-radius: 12px;
    border: none;
    padding: 24px 0;
}
.faq-tabs .accordion-item {
    color: var(--black2);
    margin-bottom: 16px;
    border-radius: 12px;
    border: 0.5px solid var(--gray);
    padding: 0 16px;
}
.faq-tabs .accordion-button:not(.collapsed) {
    background-color: transparent;
    box-shadow: none;
    border-bottom: 0.5px dashed #A5A5AB !important;
    border-radius: 0 !important;
}
.faq-tabs .accordion-button:focus {
    box-shadow: none;
    outline: none;;
}
.faq-tabs .accordion-body {
    padding: 16px 0 24px 0;
}
.total-review .total-rating {
    color: var(--blue3);
}
.review-pics {
    display: flex;
    align-items: center;
}
.review-pics img {
    height: 53px;
    width: 53px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid var(--white);
}
.review-pics > span {
    margin-left: -22px;
}
.review-pics .review-btn {
    height: 53px;
    width: 53px;
    border-radius: 50%;
    border: 3px solid var(--white);
    background: linear-gradient(to right, #55A7F9, #2463EB);
    color: var(--white);
    font-size: 18px;
    margin-left: -22px;
}
.review-item {
    background-color: var(--white);
    border-radius: 12px;
    box-shadow: 0 6px 10px rgba(96, 163, 255, 0.08);
    padding: 32px 24px;
}
.review-header h4 {
    font-size: 1rem;
    color: #244669;
}
.review-header span {
    font-size: 12px;
    display: block;
    margin-bottom: 6px;
}
.review-header div img {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    object-fit: cover;
}
.review-body {
    border: 1px solid #A5A5AB;
    border-radius: 16px;
    padding: 20px;
}
.review-body p {
    background-color: #E9ECF1;
    color: #606773;
    padding: 12px;
    border-radius: 8px;
    min-height: 145px;
}
.review-slider .slick-slide {
    margin-right: 24px;
}
.slick-dots {
    margin-top: 40px;
    margin-bottom: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 4px;
}
.slick-dots button {
    color: transparent;
    padding: 0;
    border: none;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #BCDEFF;
}
.slick-dots .slick-active button {
    background-color: var(--blue3);
    width: 32px; 
    border-radius: 28px;  
}
footer {
    background-color: var(--black3);
}
.footer-upper {
    border-bottom: 0.5px solid #2F2F2F;
}
.useful-links li {
    margin: 8px 0;
}
.useful-links li a {
    color: var(--white);
}
.useful-links li a:hover {
    color: var(--blue3);
}
.social-links li a {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: var(--white);
    color: var(--blue3);
    font-size: 1.25rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.social-links li a:hover {
    background-color: var(--blue3);
    color: var(--white);
}
.copyright {
    color: var(--white);
}
footer .footer-rating {
    max-width: 152px;
}
footer .text-small {
    font-size: 0.875rem;
}
footer .footer-trust {
    max-width: 80px;
}